body {
    background-color: #2E2E2E;
    text-align: center;
    color: #F2F2F2;
    font-family: verdana, san-serif 
}

#page {
    width: 960px;
    height: 790px;
    margin: 0 auto;
    background-color: #0F98AB;
}

nav {
  background-color: white;
  color: black;
  height: 4.5rem;
}

.col-md-1 {
  padding: 0.2rem;
}

.megawrapper{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
